/* override inline css hiding non formatted content */
body > :not(.above-fold) {
  visibility: visible;
}

/* Tiny bit of normalize */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * GENERAL STUFF
 */
.btn {
  display: inline-block;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
}
.btn:hover {
  background: #f0f0f0;
}
.btn:active {
  background: #e6e6e6;
}

.btn.primary {
  background-color: #ffcb25;
  border: none;
}
.btn.primary:hover {
  background: #ffc300;
}
.btn.primary:active {
  background: #ffe07a;
}

.margin-top {
  margin-top: 16px;
}

/*
 * PACKAGES TABLE
 */

/* mobile package selector */
.pkg-mobile-selector {
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.pkg-mobile-selector__container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

.pkg-mobile-selector.sticky .pkg-mobile-selector__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.pkg-mobile-selector__button {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-right: none;
  min-height: calc(2rem + 10px);
}
.pkg-mobile-selector__button:hover {
  background: #f0f0f0;
}
.pkg-mobile-selector__button:active {
  background: #e6e6e6;
}

.pkg-container[data-package="com"]
  .pkg-mobile-selector__button[data-package="com"],
.pkg-container[data-package="silver"]
  .pkg-mobile-selector__button[data-package="silver"],
.pkg-container[data-package="gold"]
  .pkg-mobile-selector__button[data-package="gold"],
.pkg-container[data-package="plat"]
  .pkg-mobile-selector__button[data-package="plat"],
.pkg-container[data-package="hyper"]
  .pkg-mobile-selector__button[data-package="hyper"] {
  background: #e6e6e6;
}

.pkg-mobile-selector__button:first-child {
  border-radius: 4px 0 0 4px;
}

.pkg-mobile-selector__button:last-child {
  border-right: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
}

/* table general structure */
.pkg-table {
  display: flex;
  flex-flow: column nowrap;
  word-break: break-word;
  margin-bottom: 20px;
}

.pkg-table.sticky-selector {
  margin-top: 3rem;
}

.pkg-table__row,
.pkg-table__header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px #ccc solid;
}

.pkg-table__row:last-child {
  border: none;
}

.pkg-table__content-cell,
.pkg-table__cell {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pkg-table__content-cell {
  flex: 10 0 40px;
}

.pkg-table__cell {
  flex: 9 1 1px;
  text-align: center;
  font-weight: 700;
  margin: 10px;
}

.pkg-table__cell button {
  font-size: 16px;
}

/* table header section */
.pkg-table__header .pkg-table__cell {
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 10px;
}

.pkg-table__title-sup {
  font-style: italic;
  line-height: 1;
  height: 1em;
  margin-top: -8px;
}

.pkg-table__title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.pkg-table__price:not(:last-child) {
  margin-bottom: 5px;
}

.pkg-table__max {
  font-weight: normal;
  font-size: 0.8em;
  height: 1.2em;
}

/* perk description section (left column) */
.pkg-table__content-cell {
  justify-content: flex-start;
}

.pkg-table__perk-desc {
  flex: 1 1 auto;
}

.pkg-table__more-info {
  position: relative;
  height: 20px;
  flex: 0 0 20px;
  margin-left: 10px;
  background: url("images/info.svg");
  background-size: 20px 20px;
}

.pkg-table__more-info__floating {
  z-index: 999;
  display: none;
  position: absolute;
  width: 300px;
  top: -20px;
  left: 70%;
  padding: 10px;
  background: #fff;
  border: #ddd solid 1px;
  border-radius: 4px;
}

.pkg-table__more-info:hover .pkg-table__more-info__floating {
  display: block;
}

/* table body section */
.pkg-table__row .pkg-table__cell {
  font-size: 1.2em;
}

.pkg-table__cell[data-included="y"],
.pkg-table__cell[data-included="n"] {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.pkg-table__cell[data-included="y"] {
  background-image: url("images/tick.svg");
}

.pkg-table__cell[data-included="n"] {
  background-image: url("images/cross.svg");
}

/* addons */
.pkg-addons {
  display: flex;
  flex-flow: row nowrap;
}

.pkg-addons__item {
  flex: 1 1 1px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pkg-addons__title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.pkg-addons__price {
  font-size: 1.2em;
}

@media (min-width: 1001px) {
  .pkg-mobile-selector {
    display: none;
  }
}

@media (max-width: 1000px) {
  .pkg-table__header .pkg-table__content-cell,
  .pkg-table__cell {
    display: none !important;
  }

  .pkg-container[data-package="com"] .pkg-table__cell:nth-child(2),
  .pkg-container[data-package="silver"] .pkg-table__cell:nth-child(3),
  .pkg-container[data-package="gold"] .pkg-table__cell:nth-child(4),
  .pkg-container[data-package="plat"] .pkg-table__cell:nth-child(5),
  .pkg-container[data-package="hyper"] .pkg-table__cell:nth-child(6) {
    display: flex !important;
  }

  .pkg-table__more-info.active {
    background: url("images/close.svg");
    background-size: 20px 20px;
  }

  .pkg-table__more-info__floating {
    display: none !important;
    top: 30px;
    left: -120px;
  }

  .pkg-table__more-info.active .pkg-table__more-info__floating {
    display: block !important;
  }
}

@media (max-width: 1000px) {
  .pkg-addons {
    flex-flow: column;
  }

  .pkg-addons__item {
    flex: 1 1 auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/*
 * PERKS DETAILS
 */
.perks-row {
  display: block;
  border: 3px solid #2c383e;
  margin-bottom: 10px;
  border-radius: 4px;
}

.perks-col.text {
  color: #2c383e;
  padding: 20px;
}

.perks-col.pic {
  background: #ccc;
}

.perks-col.pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

@media (min-width: 768px) {
  .perks-row {
    display: flex;
    flex-flow: row nowrap;
  }

  .perks-row:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .perks-col {
    flex: 1 1 50%;
  }

  .perks-col.text {
    padding: 25px;
  }
}

/*
 * ENQUIRE
 */

.enquire-wrapper {
  background: #2c383e;
  text-align: left;
}

.enquire-wrapper h1,
.enquire-wrapper h2 {
  color: #ffcb25;
}

.enquire-wrapper h1 {
  font-weight: 500;
}

.enquire-wrapper p,
.enquire-wrapper p > a {
  color: #c6c6c6;
}

.enquire-wrapper a {
  text-decoration: none;
  font-weight: bold;
}

/*
 * FOOTER
 */
.gl-foot {
  background: #e9e9e9;
}
.gl-foot .container {
  position: relative;
  overflow: hidden;
  padding: 48px 20px;
}
@media screen and (max-width: 48em) {
  .gl-foot .container {
    text-align: center;
  }
}
.gl-foot p {
  font-size: 0.75rem;
  margin: 0 0 4px;
  line-height: 1rem;
  text-transform: uppercase;
  color: #888;
}
.gl-foot p.copyright {
  margin: 15px 0 5px;
}
.gl-foot .heart {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmYwMDAwIiBkPSJNMTIsMjEuMzVMMTAuNTUsMjAuMDNDNS40LDE1LjM2IDIsMTIuMjcgMiw4LjVDMiw1LjQxIDQuNDIsMyA3LjUsM0M5LjI0LDMgMTAuOTEsMy44MSAxMiw1LjA4QzEzLjA5LDMuODEgMTQuNzYsMyAxNi41LDNDMTkuNTgsMyAyMiw1LjQxIDIyLDguNUMyMiwxMi4yNyAxOC42LDE1LjM2IDEzLjQ1LDIwLjAzTDEyLDIxLjM1WiIgLz48L3N2Zz4=");
  text-indent: -999em;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.gl-foot a {
  color: #555;
}
.gl-foot p.links {
  margin-bottom: 15px;
}
.gl-foot p.contact {
  text-transform: none;
}
.gl-foot span.link + span.link:before {
  content: " • ";
}
.gl-foot a.coffeetime {
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOCIgc3R5bGU9ImZvbnQtc2l6ZToxNHB4Ij48dGV4dCB5PSIxNiI+4piV77iPPC90ZXh0Pjwvc3ZnPg=="),
    auto;
}
